GOOGLE_STREET_VIEW_API_KEY=replace_with_google_street_view_api_key
MODEL_WEIGHTS_URL=replace_with_your_yolov8_road_damage_weights_url
MODEL_WEIGHTS_PATH=replace_with_your_local_yolov8_road_damage_weights_path
